<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/chessboard-1.0.0.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    
    <div id="game" class="container" style="padding:60px; padding-left: 75px; padding-right: 75px;">
        <h1>IxculaChess v0.0.1</h1>
        <div class="row justify-content-md-center">
            <div id="myBoard" class="col" style="margin:10px;"></div>
            <div id="config" class="col">
                <div>
                    <label style="margin:5px" for="customRange1" class="form-label">Depth</label><span id="danger" data-toggle="tooltip" data-placement="right" title="Placing depth above 3 will cause a high processing time." class="badge bg-danger">!</span>
                    <input type="range" class="form-range" min="1" max="4" id="depth" value="3" onchange="depthWarning()">
                </div>
                <div id="fen"></div>
                <div id="record"></div>
                <div id="buttons">
                    <button type="button" class="btn btn-primary" onclick="reset()">Play as White</button>
                    <button type="button" class="btn btn-primary" onclick="invert()">Play as Black</button>
                    <button type="button" class="btn btn-primary" onclick="startSpeech()">Speak Start</button>
                    <button type="button" class="btn btn-primary" onclick="stopSpeech()">Speak Stop</button>
                </div>
                <div id="status">
                    <img src="{{url_for('static',filename='img/loading.gif')}}" height="20px" width="20px">
                </div>
            </div>  
        </div>
    </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/chessboard-1.0.0.js')}}"></script>
    <script src="{{url_for('static',filename='js/chess_ui_handler.js')}}"></script>
</body>

</html>
